<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Участники</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showAddParticipantModal()">
        <ion-icon
          slot="icon-only"
          name="add-circle"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Участники</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="(participants$ | async)?.length; else addParticipant">
    <ion-item *ngFor="let participant of participants$ | async">
      <div>{{participant.name}}</div>
    </ion-item>
  </ion-list>

  <ng-template #addParticipant>
    <app-add-participant-message></app-add-participant-message>
  </ng-template>

</ion-content>
