<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Операции</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Операции</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-list *ngIf="(participants$ | async)?.length; else notEnoughParticipantsMessage">
    <ion-item *ngFor="let transaction of transactions$ | async">
      <div>Участнник {{transaction.to}} заплатил за участника {{transaction.from}} {{transaction.howMuch}} рублей</div>
    </ion-item>
  </ion-list>

  <ng-template #notEnoughParticipantsMessage>
    <app-add-participant-message></app-add-participant-message>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="(participants$ | async)?.length >= 2">
    <ion-button
      (click)="showAddTransactionDialogue()"
      style="width: 100%;"
    >
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>